html {
    font-weight: 500;
    font-family: Figtree, sans-serif;
    background-color: hsl(47, 88%, 63%);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-topic {
    box-sizing: border-box;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 5px;
    font-weight: 800;
    border-radius: 5px;
    width: 25%;
    margin: 0px auto 0px 25px;
    text-align: center;
    font-size: .75em;
}

.blog-card {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    max-width: 370px;
    width: 95%;
    margin: 25vh auto;
    border: 1px solid black;
    box-shadow: black 10px 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.top-img {
    width: 85%;
    margin: 1.5rem auto;
    display: block;
    border-radius: 10px;
}

.author-info img {
    width: 15%;
    display: inline-block;
    margin: 0 .5rem;
    vertical-align: middle;
}

p {
    color: hsl(0, 0%, 42%);
    margin: 0 1.5rem;
    line-height: 1.5;
}

.blog-topic, h1 , .date{
    color: hsl(0, 0%, 7%);
}

.date {
    font-size: .75em;
    margin: .5rem 1.5rem;
}

h1 , span {
    font-weight: 800;
}

h1 {
    margin-left: 1.5rem;
    font-size: 1.25em;
}

span {
    margin-bottom: 10%;
    margin-left: .75rem;
}

.author-info {
    vertical-align: middle;
    margin: 1rem;
}

.attribution a:hover {
    color:hsl(0, 0%, 42%); 
}

.attribution a:focus-visible {
   border: 2px dashed crimson; 
   border-radius: 3px; 
   outline: none;
}
